{% extends "base.html"%}
{% load static %}

{% block content %}
    <section id="cart" class="section-p1">
        <table width="100%">
            <thead>
                <tr>
                    <td>Remove</td>
                    <td>Image</td>
                    <td>Product</td>
                    <td>Price</td>
                    <td>Quantity</td>
                    <td>Subtotal</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="#" onclick="removeFromCart(0)"><i class="far fa-times-circle"></i></a></td>
                    <td><img src="{% static 'img/ph1.png' %}" alt=""></td>
                    <td>White T-Shirt With Details</td>
                    <td>R$ 135,00</td>
                    <td><input type="number" id="quantityInput" min="1" value="0"></td>
                    <td><button onclick="addToCart(0)" class="normal">Add to Cart</button></td>
                </tr>
            </tbody>
        </table>
    </section>

    <section id="cart-add" class="section-p1">
        <div id="coupon">
            <h3>Apply Coupon</h3>
            <div>
                <input type="text" id="couponInput" placeholder="Enter Your Coupon">
                <button onclick="applyCoupon()" class="normal">Apply</button>
            </div>
        </div>

        <div id="subtotal">
            <h3>Cart Totals</h3>
            <table>
                <tr>
                    <td>Cart Subtotal</td>
                    <td id="cartSubtotal">405 R$</td>
                </tr>
                <tr>
                    <td>Shipping</td>
                    <td id="green">FREE</td>
                </tr>
                <tr>
                  <td>Discount</td>
                  <td><strong id="Discount">0.00</strong><strong> R$</strong></td>
              </tr>
                <tr>
                    <td><strong>Total</strong></td>
                    <td><strong id="totalAmount">0.00</strong><strong> R$</strong></td>
                </tr>
            </table>
            <button onclick="proceedToCheckout()" class="normal">Proceed To Checkout</button>
        </div>
    </section>
{% endblock %}
