{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/4f835695b2.js" crossorigin="anonymous"></script>
    <title>Browser</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Agbalumo&family=League+Spartan:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <!-- CSS via Django static -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

<section id="header">
    <a href="{% url 'index' %}"> 
        <img src="{% static 'img/logo.png' %}" class="logo">
    </a>
    <div>
      <ul id="navbar1">
        <li><a class="active" href="{% url 'index' %}"> Home </a></li>
        <li><a href="{% url 'shop' %}"> Shop </a></li>
        <li><a href="{% url 'about' %}"> About </a></li>
        <li><a href="https://www.instagram.com"> Contact</a></li>
        <li><a href="{% url 'cart' %}"> <i class="fa-solid fa-cart-shopping"></i> </a></li>
        <li><a href="{% url 'user' %}"> <i class="fa-solid fa-circle-user"></i></a></li>
        <a href="#" id="close"><i class="fas fa-times"></i></a>
      </ul>
    </div>
    <div id="mobile">
      <a href="{% url 'cart' %}"> <i class="fa-solid fa-cart-shopping"></i> </a>
      <a href="#"><i id="bar" class="fas fa-outdent" ></i></a>
    </div>
</section>

<section id="prodetails" class="section-p1">
    <div class="single-product-image">
        <img src="{% static 'img/ph1.png' %}" width="100%" id="MainImg" alt="">
    </div>

    <div class="single-pro-details">
        <h6> Home / T-Shirt</h6>
        <h4> Fashion T-Shirt</h4>
        <h2> R$ 135,00</h2>
        <select>
            <option> Select Size </option>
            <option> GG </option>
            <option> G </option>
            <option> M </option>
            <option> P </option>
            <option> PP </option>
        </select>
        <input type="number" value="1">
        <button onclick="carttotal()" class="normal"> Add To Cart</button>
        <h4> Product Details </h4>
        <span> This immaculate white blouse exudes an air of timeless elegance... </span>
    </div>
</section>

<section id="product1" class="section-p1">
    <h1>Featured Products</h1>
    <p>StreetWear Collection New Modern Designs</p>

    <div class="pro-container">

      <div class="pro">
        <img src="{% static 'img/ph1.png' %}" alt="">
        <div class="des">
            <span>Givenchy</span>
            <h5> White Shirt With Details</h5>
            <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h4> R$ 135</h4>
        </div>
        <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
      </div>

      <div class="pro">
        <img src="{% static 'img/ph1.png' %}" alt="">
        <div class="des">
            <span>Givenchy</span>
            <h5> White Shirt With Details</h5>
            <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas a-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h4> R$ 135</h4>
        </div>
        <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
      </div>

      <div class="pro">
        <img src="{% static 'img/ph1.png' %}" alt="">
        <div class="des">
            <span>Givenchy</span>
            <h5> White Shirt With Details</h5>
            <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h4> R$ 135</h4>
        </div>
        <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
      </div>

      <div class="pro">
        <img src="{% static 'img/ph1.png' %}" alt="">
        <div class="des">
            <span>Givenchy</span>
            <h5> White Shirt With Details</h5>
            <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h4> R$ 135</h4>
        </div>
        <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
      </div>

    </div>
</section>

<section id="newsletter" class="section-p1 section-m1">
      <div class="newstext">
        <h4> Sign up for newsletter </h4>
        <p> Get E-mail updates about our lattest <span> special offers.</span></p>
      </div>
      <div class="form">
        <input type="text" placeholder="Your email adress">
        <button class="normal"> Sign Up </button>
      </div>
</section>

<script src="{% static 'js/script.js' %}"></script>

</body>
</html>
