{% extends "base.html"%}
{% load static %}

{% block content %}
  
  <section id="prodetails" class="section-p1">
      <div class="single-product-image">
          <img src="{% static 'img/ph1.png' %}" width="100%" id="MainImg" alt="">
      </div>

      <div class="single-pro-details">
          <h6> Home / T-Shirt</h6>
          <h4> Fashion T-Shirt</h4>
          <h2> R$ 135,00</h2>
          <div class="d-flex gap-2">
            <select class="form-select" style="width: 120px; height: 38px;">
                <option>Select Size</option>
                <option>GG</option>
                <option>G</option>
                <option>M</option>
                <option>P</option>
                <option>PP</option>
            </select>
            <button class="btn text-white" style="background-color: #7D5E2A; height: 38px;">Add To Cart</button>
        </div>
          <h4> Product Details </h4>
          <span> This immaculate white blouse exudes an air of timeless elegance... </span>
      </div>
  </section>

  <section id="product1" class="section-p1">
      <h1>Featured Products</h1>
      <p>StreetWear Collection New Modern Designs</p>

      <div class="pro-container">

        <div class="pro">
          <img src="{% static 'img/ph1.png' %}" alt="">
          <div class="des">
              <span>Givenchy</span>
              <h5> White Shirt With Details</h5>
              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <h4> R$ 135</h4>
          </div>
          <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
        </div>

        <div class="pro">
          <img src="{% static 'img/ph1.png' %}" alt="">
          <div class="des">
              <span>Givenchy</span>
              <h5> White Shirt With Details</h5>
              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas a-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <h4> R$ 135</h4>
          </div>
          <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
        </div>

        <div class="pro">
          <img src="{% static 'img/ph1.png' %}" alt="">
          <div class="des">
              <span>Givenchy</span>
              <h5> White Shirt With Details</h5>
              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <h4> R$ 135</h4>
          </div>
          <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
        </div>

        <div class="pro">
          <img src="{% static 'img/ph1.png' %}" alt="">
          <div class="des">
              <span>Givenchy</span>
              <h5> White Shirt With Details</h5>
              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <h4> R$ 135</h4>
          </div>
          <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
        </div>

      </div>
  </section>
{% endblock %}

