{% extends "base.html" %}
{% load static %}

{% block content %}
<section id="page-header">
  <h2>Mega discount </h2>
  <p> Enter code STELLA15 at checkout to 15% discount.</p>
</section>

<section id="product1" class="section-p1">
  <div class="pro-container">

    <div class="pro">
      <a href="{% url 'product' %}"><img src="{% static 'img/ph1.png' %}" alt=""></a>
      <div class="des">
        <span>Givenchy</span>
        <h5> White Shirt With Details</h5>
        <div class="stars">
          <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
        </div>
        <h4> R$ 135</h4>
      </div>
      <a href="{% url 'product' %}"><i class="fa-solid fa-cart-shopping cart"></i></a>
    </div>

    <div class="pro">
      <a href="{% url 'product' %}"><img src="{% static 'img/ph1.png' %}" alt=""></a>
      <div class="des">
        <span>Givenchy</span>
        <h5> White Shirt With Details</h5>
        <div class="stars">
          <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
        </div>
        <h4> R$ 135</h4>
      </div>
      <a href="{% url 'product' %}"><i class="fa-solid fa-cart-shopping cart"></i></a>
    </div>

    <div class="pro">
      <a href="{% url 'product' %}"><img src="{% static 'img/ph1.png' %}" alt=""></a>
      <div class="des">
        <span>Givenchy</span>
        <h5> White Shirt With Details</h5>
        <div class="stars">
          <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
        </div>
        <h4> R$ 135</h4>
      </div>
      <a href="{% url 'product' %}"><i class="fa-solid fa-cart-shopping cart"></i></a>
    </div>

    <div class="pro">
      <a href="{% url 'product' %}"><img src="{% static 'img/ph1.png' %}" alt=""></a>
      <div class="des">
        <span>Givenchy</span>
        <h5> White Shirt With Details</h5>
        <div class="stars">
          <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
        </div>
        <h4> R$ 135</h4>
      </div>
      <a href="{% url 'product' %}"><i class="fa-solid fa-cart-shopping cart"></i></a>
    </div>

    <div class="pro">
      <a href="{% url 'product' %}"><img src="{% static 'img/ph1.png' %}" alt=""></a>
      <div class="des">
        <span>Givenchy</span>
        <h5> White Shirt With Details</h5>
        <div class="stars">
          <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
        </div>
        <h4> R$ 135</h4>
      </div>
      <a href="{% url 'product' %}"><i class="fa-solid fa-cart-shopping cart"></i></a>
    </div>

    <div class="pro">
      <a href="{% url 'product' %}"><img src="{% static 'img/ph1.png' %}" alt=""></a>
      <div class="des">
        <span>Givenchy</span>
        <h5> White Shirt With Details</h5>
        <div class="stars">
          <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
        </div>
        <h4> R$ 135</h4>
      </div>
      <a href="{% url 'product' %}"><i class="fa-solid fa-cart-shopping cart"></i></a>
    </div>

    <div class="pro">
      <a href="{% url 'product' %}"><img src="{% static 'img/ph1.png' %}" alt=""></a>
      <div class="des">
        <span>Givenchy</span>
        <h5> White Shirt With Details</h5>
        <div class="stars">
          <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
        </div>
        <h4> R$ 135</h4>
      </div>
      <a href="{% url 'product' %}"><i class="fa-solid fa-cart-shopping cart"></i></a>
    </div>

    <div class="pro">
      <a href="{% url 'product' %}"><img src="{% static 'img/ph1.png' %}" alt=""></a>
      <div class="des">
        <span>Givenchy</span>
        <h5> White Shirt With Details</h5>
        <div class="stars">
          <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
        </div>
        <h4> R$ 135</h4>
      </div>
      <a href="{% url 'product' %}"><i class="fa-solid fa-cart-shopping cart"></i></a>
    </div>

  </div>
</section>

<section id="pagination" class="section-p1">
    <a href="#">1</a>
    <a href="#">2</a>
    <a href="#"><i class="fas fa-long-arrow-alt-right"></i></a>
</section>

{% endblock %}
