{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="reset-wrapper">
    <div class="reset-center">
        <div class="card shadow p-5 reset-card">

            <h2 class="text-center mb-4">Password Updated</h2>

            <p class="text-center mb-4">
                Your password has been successfully changed.<br>
                You can now log in using your new password.
            </p>

            <a href="{% url 'account_login' %}" 
               class="btn text-white w-100"
               style="background:#088178;">
                Go to Login
            </a>

        </div>
    </div>
</section>

<style>
.reset-wrapper {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reset-center {
    width: 100%;
    display: flex;
    justify-content: center;
}
.reset-card {
    max-width: 500px;
    width: 100%;
    border-radius: 15px;
}
</style>
{% endblock %}
