{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="reset-wrapper">
    <div class="reset-center">
        <div class="card shadow p-5 reset-card">

            <h2 class="text-center mb-4">Reset Password</h2>

            <form method="POST" action="{% url 'account_reset_password' %}">
                {% csrf_token %}

                <label class="form-label">Your Email</label>
                <input type="email" name="email" class="form-control mb-3" required>

                <button class="btn text-white w-100" style="background:#088178;">
                    Send reset instructions
                </button>
            </form>

        </div>
    </div>
</section>

<style>
.reset-wrapper {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reset-center {
    width: 100%;
    display: flex;
    justify-content: center;
}
.reset-card {
    max-width: 500px;
    width: 100%;
    border-radius: 15px;
}
</style>
{% endblock %}
